[submodule "vendor/googletest"]
	path = vendor/googletest
	url = git@github.com:google/googletest.git
[submodule "vendor/picohttpparser"]
	path = vendor/picohttpparser
	url = git@github.com:h2o/picohttpparser.git
